* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#uni-padding {
    padding: 0px 100px;
}

/* main container */

.main-container {
    overflow: auto;
    box-sizing: border-box;

}

.section-33 {
    float: left;
    display: flex;
    text-align: center;
    width: 33.33%;
    padding: 30px 0px;

}

.main-container h4 {
    padding-top: 40px;

}

.main-container ul {
    list-style-type: none;
    padding-top: 40px;

}

.section-33 li {
    padding-right: 20px;
}

.section-33 p {
    text-align: right !important;
    padding: 10px 20px;
    padding-left: 30px;
}

.get-srt-free {
    background-color: #ECE5FF;

    color: #794CFF;
    font-weight: 500;
}

.discount-ofr {
    text-align: center;
    align-items: center;
}

.save-btn {
    background-color: #81C43B;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
}

.txt-motive {
    text-align: center;
    padding: 20px 180px;
    font-size: 60px;
    color: #35414B;
}

.para-desce {
    text-align: center;
    color: #35414B;

}

.cmnydetails {
    align-items: center;
    padding: 20px 350px;
    margin: 0px;

}

.comp-email {
    padding: 10px 30px;


}

.try-btn {
    padding: 12px 30px;
    color: white;
    background-color: #794CFF;
    border: none;
    transform: translateX(-5px);

}

img {
    width: auto;
    transform: translateX(20px);
}

.logos {
    padding: 50px 20px;
    width: auto;
}

.sponsor-logos {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 50px;
}
.trst-teams{
    text-align: center;
}

.timeline-div{
    flex-direction: row;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    padding: 40px 0px;
}
.timeline-container{
    
    justify-content: center;
    align-items: center;
}
.timeline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.timeline > h2{
    font-size: 18px;
}
.timelinebox{
    width: 600px;
}
.timeline:first-child{
    border-left: 5px solid #794CFF;
    background-color: #ECE5FF;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


@media (max-width: 550px) {
    body{
        background-color: #81C43B;
    }
}